
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Report</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Management
    </a>
    <div class="dropdown-menu" aria-labelledby="Preview">
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Admins" asp-action="Index">Admins</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Supers" asp-action="Index">Super Users</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="hrs" asp-action="Index">HR Users</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="provs" asp-action="Index">Provider Users</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Enrollees
    </a>
    <div class="dropdown-menu" aria-labelledby="Preview">
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Signups" asp-action="Index">Signed Up</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Enrollees" asp-action="Index">Enrollees</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="ExcludedEnrollees" asp-action="Index">Excluded Enrollees</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Enrollees" asp-action="Demos">Demo Enrollees</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Settings
    </a>
    <div class="dropdown-menu" aria-labelledby="Preview">
        <a class="dropdown-item text-dark" asp-area="" asp-controller="hmos" asp-action="Index">HMOs</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Locations" asp-action="Index">Locations</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="States" asp-action="Index">States</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Providers" asp-action="Index">Providers</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Import Rules
    </a>
    <div class="dropdown-menu" aria-labelledby="Preview">
        <a class="dropdown-item text-dark" asp-area="" asp-controller="ImportEnrolleeSettings" asp-action="Index">Enrollees</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="ImportExcludedEnrolleeSettings" asp-action="Index">Excluded Enrollees</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="ImportProviderSettings" asp-action="Index">Providers</a>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="ImportServiceSettings" asp-action="Index">Services</a>
    </div>
</li>

