@using Microsoft.Extensions.Options;
@using reCAPTCHA.AspNetCore;

@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    Layout = "_AnonLayout";
    ViewData["Title"] = "PIN Reset Failed";
}

<div class="row h-100">
    <div class="col-12 my-auto">
        <div class="row mb-2">
            <div class="offset-md-5 col-7 justify-content-center">
                <img src="/image/unionlogo" />
            </div>
            @*<div class="col-6 justify-content-center">
                    <img src="/image/Logo/@Model.hmoGuid" />
                </div>*@
            @*<div class="col-6 justify-content-center">
                    <img src="/image/rodinglogo" />
                </div>
                <div class="col-6 justify-content-center">
                    <img src="/image/unionlogo" />
                </div>*@
            @*<div class="offset-md-5 col-7 justify-content-center">
                    <img src="/image/anchorhmologo" />
                </div>*@
        </div>
        <div class="masthead-content text-white py-5 py-md-0">
            <h2 class="mb-3 text-center">PIN Reset Failed</h2>
            <br />
            <p class="mb-5">
                Your PIN reset request was unsuccessfull.
            </p>
            <p class="mb-5">
                Please retry the process.
            </p>
            <a class="btn btn-lg btn-dark btn-block" asp-action="forgot" asp-controller="signup">
                Forgot PIN
                &nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

