
<div class="row">
    <div class="col-4">
        <a href="~/enrollees">
            <div class="jumbotron p-2">
                <h4 class="text-left">ENROLLEES</h4>
                <hr class="my-4">
                <h6 class="display-4 text-right p-0" id="enrollees">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </h6>
            </div>
        </a>
    </div>
    <div class="col-4">
        <div class="jumbotron p-2">
            <h4 class="text-left">ALL ATTEMPTS</h4>
            <hr class="my-4">
            <h6 class="display-4 text-right p-0" id="sall">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h6>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron p-2">
            <h4 class="text-left">SIGNED UP</h4>
            <hr class="my-4">
            <h6 class="display-4 text-right p-0" id="signeds">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h6>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron p-2">
            <h4 class="text-left">EXCLUDED ENROLLEES</h4>
            <hr class="my-4">
            <h6 class="display-4 text-right p-0" id="excluded">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h6>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron p-2">
            <h4 class="text-left">PROVIDERS</h4>
            <hr class="my-4">
            <h6 class="display-4 text-right p-0" id="providers">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h6>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron p-2">
            <h4 class="text-left">LOCATIONS</h4>
            <hr class="my-4">
            <h6 class="display-4 text-right p-0" id="locations">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </h6>
        </div>
    </div>
</div>