

<div class="row h-100">
    <div class="col-12 my-auto">
        <div class="row mb-2">
            <div class="offset-md-5 col-7 justify-content-center">
                <img src="/image/logo" />
            </div>
        </div>
        <div class="masthead-content text-white py-5 py-md-0">
            <h2 class="mb-3">Annual Health Check</h2>
            <p class="mb-2">
                Organize an Annual health check excersice in partnership with trusted and dependable Health Management Organisations.
            </p>
            <p class="mb-2">
                This portal is designed to facilitate your participation. Click the Button beside your preferred HMO.
            </p>
            <div class="row">
                <div class="col-7">
                    <ul>

                    </ul>
                </div>
                <div class="col-5 align-content-center">
                    <a class="btn btn-dark btn-block align-content-center" asp-action="verify" asp-controller="signup">
                        Sign Up / Continue
                        &nbsp;&nbsp;
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <hr class="mt-0" style="color:white;" />
            <div class="row">
                <div class="col-7">
                    <ul>
                    </ul>
                </div>
                <div class="col-5">
                    <a class="btn btn-dark btn-block" href="https://vbbii.azurewebsites.net" target="_blank">
                        Sign Up / Continue
                        &nbsp;&nbsp;
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
