@*<div class="row h-100 justify-content-center align-items-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Annual Health Check</h4>
                    <p class="card-text" style="line-height: 2.0em">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <br />
                    <div class="justify-content-center">
                        <a class="btn btn-lg btn-info btn-block" asp-action="verify" asp-controller="signup">
                            <h4>
                                Follow this link to <strong>Sign Up</strong>
                                &nbsp;&nbsp;
                                <i class="fa fa-arrow-right"></i>
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>*@


<div class="row h-100">
    <div class="col-12 my-auto">
        <div class="row">
            <div class="offset-md-5 col-7 justify-content-center">
                <img src="/image/anchorhmologo" />
            </div>
        </div>
        <div class="masthead-content text-white py-5 py-md-0">
            <h2 class="mb-3">Annual Health Check Portal</h2>
            <p class="mb-5">
                <strong>Anchor HMO</strong> the trusted and dependable Health Maintenance Organization is organising an Annual health check excercise for staff of her partners.
            </p>
            <p class="mb-5">
                This excercise is designed to <strong>Improve health</strong> and <strong>increase lifespan</strong>.
                This portal is designed to facilitate your participation. To get your reference letter, Sign up below.
            </p>
            <a class="btn btn-lg btn-dark btn-block" asp-action="verify" asp-controller="signup">
                Sign Up / Continue
                &nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
